/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020. jan. 28., 18:30:10
    Author     : Aliz
*/
    body{
        font-family: initial;
        background: antiquewhite;
    }
    ul{
        list-style: none;	
        }
    ul li {
        background: bisque;
        font-weight: bold;
        float: left;	
        margin-right: 10px;	
    }
    ul li a {
        text-decoration: none;	
        color: green;
    }
    ul li a:hover {
        font-size: 20px;
        }
    img {
         border-radius: 10%;
        }
    img:hover {
        opacity: 0.5;
        filter: alpha(opacity=50); 
        height:290px;
        width:440px;
        }	
    span{
        color: brown;	
    }
    td:hover {
        background-color: #ffff99;
        }
    thead {
           font-weight: bold; 
        }
    #listOtherDeserts, #listOtherDeserts td{
        border: 1px solid black;
    }
            
